* {
    box-sizing: border-box;
    font-family: "Arial Black", sans-serif;
}

.header {
    font-size: 36pt;
    font-weight: bold;
    background-color: #f1f1f1;
    color: #00519e;
    padding: 15px;
    display: flex;
    justify-content: center;
    text-align: center;
}

table{
    margin: 0 auto 20 auto;
    font-family: Arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 2px solid #dddddd;
    padding: 16px;        
}

td {
    margin-left: 50%;
    text-align: center;
}

th {
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

tr:nth-child th{
    font-weight: bold;
}

td:first-child a{
	color: inherit;
    text-decoration: none;
}

#add, #addCourseButton{
    background-color: rgba(19, 171, 19, 0.75);
    color: #000;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    border: 2px solid #ccc;
    transition: background-color 0.3s;
}

#add:hover , #addCourseButton:hover{
    background-color: rgba(19, 171, 19, 0.65);
    color: rgba(0,0,0,0.75);
}

#cancleCourseButton {
    background-color: rgba(171, 19, 19, 0.75);
    color: #000;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    border: 2px solid #ccc;
    transition: background-color 0.3s;
}

#cancleCourseButton:hover {
    background-color: rgba(171, 19, 19, 0.65);
    color: rgba(0,0,0,0.75);
}

.modal {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: auto;
    width: 400px;
    background-color: #fefefe;
    border: 1px solid #888;
    border-radius: 7px;
    padding: 20px;
    z-index: 1000;
}

.modal-content {
    margin: 10px;
    margin-top: -10px;
    margin-bottom: 30px;
}

.modal-button {
    margin: 10px;
    margin-top: -10px;
    align-items: left;
}

#cancleCourseButton {
    width: 42%;
}

#newCourseName {
    border-radius: 5px;
    width: 85%;
    height: 13%;
    border: 1px solid #888;
}

.blurred {
    filter: blur(2px);
    pointer-events:none;
}