            * {
                box-sizing: border-box; /* include margin, border, and padding in size */
                font-family: "Arial Black", sans-serif;
            }

            .header {
                font-size: 36pt;
                font-weight: bold;
                background-color: #f1f1f1;
                color: #00519e;
                padding: 15px;
                display: flex;
                justify-content: center;
	            text-align: center;
            }

            table{
	            margin: 0 auto;
                font-family: Arial, sans-serif;
                border-collapse: collapse;
                width: 100%;
            }


            td, th {
                border: 2px solid #dddddd;
                text-align: center;
                padding: 16px;
                
            }

            th {
                font-weight: bold;
            }

            tr:nth-child(even) {
                background-color: #dddddd;
            }

            tr:nth-child th{
                font-weight: bold;
            }

            td:first-child {
                text-align: left;
            }

            td:first-child a{
	            color: inherit;
                text-decoration: none;
            }

            #add{
                background-color: rgb(19, 171, 19);
                color: #333;
                font-size: 16px;
                padding: 10px 20px;
                border-radius: 5px;
                cursor: pointer;
                border: 2px solid #ccc;
                transition: background-color 0.3s;
            }

            #add:hover {
                background-color: rgba(19, 171, 19, 0.73);
            }