            #header {
    			display: flex;
    			justify-content: space-between;
    			align-items: center;
				position: relative;
			}

			#title {
    			display: flex;
    			align-items: center;
				flex-grow: 1;
				font-weight: bold;
			}

			#burger {
				position: absolute; /* Absolut Position in der Div */
        		left: 10px; /* Abstand zum linken Rand */
        		margin-top: 15px; /* Abstand nach Oben */
			}

			.burgermenu {
    			display: none;
				position: relative;
				font-weight: bold;
			}

			.burgermenu a {
				display: block;
				margin-bottom: 10px;
			}

			.burgermenu a:last-child {
				margin-bottom: 0px;
			}

			.burgermenu , .burgermenu a {
				text-align: left;
				padding-left: 10px;
				left: -48%;
			}