body{
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

h1{
    font-size: 2em;
}

.card{
    margin: 10px;
    padding: 5px;
    width: 100% - 20px;
    background-color: lightblue;
    border-radius: 10px;
}

.tag{
    border: none;
    height: auto;
    width: auto;
    padding: 8px;
    border-radius: 12px;

    text-align: center;
}

.dropdownArea{
    padding: 5px;
    width: auto;
    background-color: lightgrey;
    border-radius: 10px;
    text-align: center;
}

.left{
    margin-right: auto;
    margin-left: 5px;
}

.right{
    margin-right: 5px;
    margin-left: auto;
}

.yCenter{
    align-self: center;
}

.header{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.burgerMenu{
    position: relative;
}

a{
    color: black;
    text-decoration: none;
    margin: 5px;
}